.home__section{
    /* background-color: e !important;
    padding: 40px !important; */
    /* background-color: #d1d1d1; */
    /* box-shadow: inset 8px 8px 16px #d1d1d1, inset -8px -8px 16px #ffffff;
    padding: 10px;
    border-radius: 20px; */
}